.wrapper {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
}
.inner {
    width: 1240px;

    .banner {
        position: relative;
        user-select: none;
        padding-bottom: 50px;
        & img {
            width: 100%;
        }
        & .seller {
            top: 25%;
            position: absolute;
            left: 5%;
            & .title-banner {
                font-size: 2.4rem;
                font-weight: 400;
            }
            & .sale-banner {
                font-size: 5rem;
                font-weight: 700;
            }
            & .button {
                margin-top: 12px;
                cursor: pointer;
                border-radius: 100px;
                padding: 14px 20px 14px 20px;
                font-size: 2.4rem;
                font-weight: 500;
                background-color: var(--primary-color);
                color: var(--color-white);
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .category {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & .item {
            border-radius: 5px;
            margin-top: 30px;
            position: relative;
            width: 290px;
            display: flex;
            justify-content: center;
            &:hover {
                box-shadow: 0 1px 5px 1px #ccc;
                transition: 0.2s linear;
            }
            & .button {
                position: absolute;
                bottom: 24px;
                padding: 13px 24px;
                border-radius: 5px;
                font-size: 1.6rem;
                font-weight: 600;
                background-color: var(--color-white);

                &:hover {
                    background-color: var(--secondary-color);
                    transition: 0.2s linear;
                    color: var(--color-white);
                    cursor: pointer;
                }
            }
        }
    }
    .sale {
        background-clip: padding-box;
        position: relative;
        // height: 500px;
        border: 1px solid var(--primary-color);
        border-radius: 15px;
        margin-top: 80px;
        display: flex;
        justify-content: center;

        & .prev {
            background-color: var(--primary-color);
            position: absolute;
            padding: 14px 20px;
            border-radius: 50px;
            left: -25px;
            top: 45%;
            &:hover {
                cursor: pointer;
                background-color: var(--secondary-color);
                transition: 0.2s linear;
            }
        }
        & .next {
            background-color: var(--primary-color);
            padding: 14px 20px;

            position: absolute;
            border-radius: 50px;
            right: -25px;
            top: 45%;
            &:hover {
                cursor: pointer;
                background-color: var(--secondary-color);
                transition: 0.2s linear;
            }
        }
        & .title {
            background-color: var(--background-color);
            background-clip: padding-box;
            position: absolute;
            font-size: 2.4rem;
            font-weight: 500;
            top: -20px;
            text-align: center;
            padding: 0 18px;
        }

        & .inner-sale {
            padding: 36px 0 72px 0;
            align-items: center;
            display: flex;
            flex-direction: row;
            & .item-sale {
                margin: 0 12px;
                border-radius: 5px;
                box-shadow: 0 1px 5px 1px #cccccc;
                background-color: var(--color-white);
                &:hover {
                    box-shadow: 1px 1px 4px 1px #ccc;
                }
                & .img-product {
                    overflow: hidden;
                    position: relative;
                    background-size: contain;
                    padding: 103px;
                    background-repeat: no-repeat;
                    border-radius: 5px;

                    & .sale-product {
                        position: absolute;
                        background-color: var(--secondary-color);
                        top: 0;
                        left: 0;
                        z-index: 1;
                        cursor: alias;
                        padding: 0 2px;
                        font-size: 1.4rem;

                        &::after {
                            content: '';
                            border-left: 15px solid var(--secondary-color);
                            border-right: 15px solid var(--secondary-color);
                            border-bottom: 15px solid transparent;
                            border-top: 15px solid transparent;
                            position: absolute;
                            left: 0px;
                            top: 6px;
                            z-index: -1;
                            padding: 0 0.3px;
                        }
                    }
                    & .like-product {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        background-color: var(--color-white);
                        padding: 6px;
                        border-radius: 50px;
                        cursor: pointer;
                        box-shadow: 0 1px 1px 1px #ccc;
                    }
                    &:hover {
                        transform: scale(1.05);
                        transition: 0.2s linear;
                        cursor: zoom-in;
                    }
                }
                & .info-product {
                    position: relative;
                    margin-top: 6px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 6px;
                    padding-right: 6px;
                    overflow: hidden;

                    & .name-product {
                        cursor: pointer;
                        font-size: 1.6rem;
                        font-weight: 500;
                        width: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: 6px;
                    }
                    & .reviews-product {
                        margin-top: 12px;
                        display: flex;
                        justify-content: center;
                    }
                    & .review {
                        font-size: 1.3rem;
                        color: #838383;
                        margin-left: 4px;
                    }
                    & .buy {
                        padding-top: 40px;
                        padding-bottom: 6px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        & .price {
                            color: var(--primary-color);
                            font-size: 1.9rem;
                            font-weight: 500;
                        }
                        & .sold {
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: #7a7a7a;
                        }
                    }
                }
                & .button-buy {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -40%;
                    padding: 12px 0;
                    border-radius: 5px;
                    font-size: 1.6rem;
                    background-color: var(--primary-color);
                    color: var(--color-white);
                    font-weight: 600;
                    margin: 0 6px;

                    &:hover {
                        bottom: 5%;
                        cursor: pointer;
                        transition: 0.2s linear;
                        background-color: var(--secondary-color);
                    }
                }
                & :hover ~ .button-buy {
                    transition: 0.2s linear;
                    bottom: 5%;
                    cursor: pointer;
                }
            }
        }
        & .dots {
            display: flex;
            position: absolute;
            bottom: 18px;
            user-select: none;

            & .dot {
                padding: 12px;
                background-color: #c3c3c3;
                border-radius: 50px;
                margin: 0 6px;
                cursor: pointer;
                transition: 0.3s linear;
                &:hover {
                    background-color: var(--primary-color);
                    opacity: 40%;
                }
            }

            & .active {
                background-color: var(--primary-color);
                opacity: 80%;
            }
        }
    }

    .blog {
        margin-top: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        & .title {
            font-size: 2.4rem;
            font-weight: 500;
            margin-bottom: 42px;
        }
        & .inner-blog {
            display: flex;
            justify-content: space-between;

            & .item-blog {
                overflow: hidden;
                height: 444px;
                box-shadow: 0 1px 5px 1px #cccccc77;
                padding-bottom: 18px;
                width: 390px;
                max-width: 100%;
                &:hover {
                    box-shadow: 0 1px 5px 1px #ccc;
                    transition: 0.2s linear;
                }
                & .img-blog {
                    width: 390px;
                    height: 200px;
                    & img {
                        width: 100%;
                        height: 100%;

                        &:hover {
                            cursor: zoom-in;
                            transform: scale(1.1);
                            transition: 0.2s linear;
                        }
                    }
                }
                & .container-blog {
                    padding: 23px 24px 12px 24px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 8;
                    -webkit-box-orient: vertical;
                    & .blog-name {
                        margin-bottom: 24px;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        & .name-blog {
                            display: inline;
                            cursor: pointer;
                            line-height: 20px;
                            font-size: 2rem;
                            font-weight: 700;
                            margin-bottom: 24px;
                        }
                    }
                    & .blog-content {
                        display: -webkit-box;
                        -webkit-line-clamp: 7;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        & .content-blog {
                            font-size: 1.6rem;
                            line-height: 1.8rem;
                            font-weight: 400;
                            color: #6666;
                        }
                    }
                }
            }
        }
    }
}
