.wrapper {
    height: 133px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inner {
    width: 1240px;
    height: 100%;
    max-width: 100%;
    background-color: #ccc;
}
.detail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    font-size: 1.4rem;
    color: var(--color-white);
    background-color: var(--primary-color);
    & span {
        text-transform: uppercase;
        font-weight: 600;
    }
    & a {
        color: var(--color-white);
        text-decoration: underline;
    }
}
